.login-container{
    background-image:linear-gradient(to right, black , #5B68F7 );
    height:100vh;
}
.login-panel{
    background-color: white;
    padding: 20;
    box-shadow: 8px 10px ;
    width: 330px;
    border-radius: 10px;
}
input[type='email']{
    margin-bottom: -1px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    z-index: 3;
}
input[type='password']{
    border-radius: 0px;
}

.auth-submit-buttom{
    border-top-left-radius:0px;
    border-top-right-radius:0px;
}
.reg-button{
    border:1px solid #5B68F7;
    color: #5B68F7;
}
.reg-button:hover{
    border:1px solid #5B68F7;
    background-color: #5B68F7;
}
.bugtracker-brand-login{
    color:#5B68F7;
  }
  .spinner {
    /* margin: 100px auto 0; */
    width: fit-content;
    text-align: center;
  }
  
  .spinner > div {
    width: 18px;
    height: 18px;
    background-color: white;
  
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }
@media screen and (max-width:350px){
    .login-panel{
        width:inherit;
        padding: 5;
    }
    .bugtracker-brand-login{
        display: none;
        color:#5B68F7;
      }
}