body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media screen and (max-width:600px){
  #nav-items{
    display: none;
  }
  .navbar-heading{
    font-size:28px;
  }
}
@media screen and (min-width:600px){
  #menuIcon{
    display: none;
  }
  .navbar-heading{
    font-size:40px;
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active,
select:active,
select:focus
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}